<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{ "/assets/images/logo.webp" | relative_path }}" alt="Site Logo" width="32" />
    </a>
    <ul class="navbar-nav d-lg-none d-xl-none flex-row flex-fill justify-content-end px-3">
      <li class="nav-item px-2">
        <a class="nav-link" href="https://www.linkedin.com/in/mtolmacs">
          <img src="{{ "/assets/images/linkedin.png" | relative_path }}" alt="LinkedIn"/>
        </a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="https://github.com/mtolmacs">
          <img src="{{ "/assets/images/github.png" | relative_path }}" alt="GitHub"/>
        </a>
      </li>
    </ul>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-fill justify-content-center">
        
      </ul>
    </div>
    <ul class="navbar-nav d-none d-lg-flex flex-row justify-content-end px-3">
      <li class="nav-item px-2">
        <a class="nav-link" href="https://www.linkedin.com/in/mtolmacs">
          <img src="{{ "/assets/images/linkedin.png" | relative_path }}" alt="LinkedIn"/>
        </a>
      </li>
      <li class="nav-item px-2">
        <a class="nav-link" href="https://github.com/mtolmacs">
          <img src="{{ "/assets/images/github.png" | relative_path }}" alt="GitHub"/>
        </a>
      </li>
    </ul>
  </div>
</nav>