<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="navbar-brand">
      <img src="{{ "/assets/images/logo.png" | relative_path }}" alt="Site Logo" width="32" />
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item pl-1 pr-1">
          <a class="nav-link" href="https://www.linkedin.com/in/mtolmacs">
            <img src="{{ "/assets/images/linkedin.png" | relative_path }}" alt="LinkedIn"/>
          </a>
        </li>
        <li class="nav-item pl-1 pr-1">
          <a class="nav-link" href="https://github.com/mtolmacs">
            <img src="{{ "/assets/images/github.png" | relative_path }}" alt="GitHub"/>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>