<div class="testimonials carousel slide">
  <div class="carousel-inner py-5">
    
    <div class="row d-flex flex-row carousel-item active">

      <div class="col-lg-4 col-md-12 d-flex flex-row justify-content-center gap-3 p-4">
        <img
          src="{{ "/assets/images/recommender_vfasi.jpg" | relative_url }}"
          alt="Portrait of Viktor Fasi"
          class="rounded-circle"
          style="width: 64px; height: 64px;"
        />
        <div>
          <p>
            Mark worked for me to accelerate our mobile app development. We
            accepted his offer for the job out of 30+ candidates as clearly the 
            most comprehensive one. During the project, he was easy to work with
            not needing micro-managent and engaging with various senority level
            team members with different expectations. Delivered in good quality 
            on time.
          </p>
          <div>
            <div class="t-bold">Viktor Fasi</div>
            <div>Head of Product</div>
            <div>Cursor Insight</div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 d-flex flex-row justify-content-center gap-3 p-4">
        <img 
          src="{{ "/assets/images/recommender_psellis.jpg" | relative_url }}"
          alt="Portrait of Peter Sellis"
          class="rounded-circle"
          style="width: 64px; height: 64px;"
        />
        <div>
          <p>
            It's almost impossible to find someone who is honest and has
            conviction in their work, but is willing to listen and thoughtfully
            consider alternative points of view. That's what makes Mark one of
            my favorite people not only to work with, but to bring any important
            or complex issue to.
          </p>
          <div>
            <div class="t-bold">Peter Sellis</div>
            <div>Head of Product</div>
            <div>Ustream, an IBM Company</div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12 d-flex flex-row justify-content-center gap-3 p-4">
        <img
          src="{{ "/assets/images/recommender_jmeyer.jpg" | relative_url }}"
          alt="Portrait of Jordan Meyer" class="rounded-circle" style="width: 64px; height: 64px;"/>
        <div>
          <p>
            Mark is an extremely effective and diligent manager with an amazing
            ability to deliver great products. Deftly navigating between
            engineering, marketing, management, design and support teams, Mark
            has proven that he can set expectations and release high quality
            products in a timely manner. Mark took initiative on his own and was
            able to make amazing progress with limited guidance. His "cut to the
            chase" attitude and ego-less ability to prioritize the right features
            make him an asset for any team.
          </p>
          <div>
            <div class="t-bold">Jordan Meyer</div>
            <div>Product Lead</div>
            <div>Facebook Growth</div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>